*~
*.pyc
*.so
logs/*
!.gitkeep
node_modules/
compressed/
generated/
tmp
.DS_Store
.idea
npm-debug.log
sitesettings.py
*.swp
*.class
sphinxdoc/_build/
sphinxdoc/*.rst
!sphinxdoc/index.rst
ngdocs/docs/
preference/cpp/unittest
media
.coverage
htmlcov
karma-coverage/
karma-junit-test-report.xml
*.swo
reset_database.sh
*.mo
survey/translations/*.pot
config.yml
settings.py
.venv*
.profiles
mprofile_*.dat
mprofile_*.png
.hypothesis
.vscode/
*.ipynb_checkpoints/
.worktree/
*.egg-info/
.result/
.mypy_cache/
.python-version
dist/